@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Thanksgiving stuff</h1>
    https://picsum.photos/id/237/200/300

    updating my page
    
    <h1 class="display-4">2nd subtitle</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
